%p#notice= notice

%div
  %p
    %b Title:
    = @post.title
  %p
    %b Body:
    = @post.body
  %p
    %b User:
    = @post.user.name
%hr
%div
  =render partial: 'comments/form', locals: {post: @post}
