
%div.panel.panel-primary
  .panel-heading
    %b Title:
    = @post.title
    by
    %b User:
    = @post.user.name
  .panel-body
    %b Body:
    = @post.body


-@comments.each do |comment|
  =render partial: 'comments/comment', locals: {comment: comment}
.well
  =render partial: 'comments/form', locals: {post: @post}


